.card-header {
    background-color: #fff;
    margin: 5 5 5 5;
    border-color: rgba(0, 0, 0, 0.37);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 12px 19px 19px -9px rgba(0,0,0,0.24);
 
}
.lineItemContainer{
    border-color: rgba(0, 0, 0, 0.37);
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    margin: 0 5 0 5;
    padding: 0 5 0 5;
}

.card-layout {
    padding: 5;
}
.card-layout .h1 {
    margin-bottom: 5;
}

.fieldLabel{
    font-weight: 500;
    
}