<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Forcast" colSpan="2"></Label>
        <Label class="fas" text="&#xf04a;" (tap)="navigateBack()"></Label>
    </GridLayout>
</ActionBar>



<StackLayout>
    <Button (tap)="onTapNavigate('download')" text="Download Forcast"></Button>
    <Button (tap)="onTapNavigate('savedForcast')" text="Saved Forcast"></Button>
</StackLayout>